<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>search</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
         <h1>special product</h1>
        <ul>
    <li>
        
        <img src="<%=productsdata.thumbnail%>" alt="<%= productsdata.title %>"/>
        <p><%= productsdata.price %></p>
        <p><%= productsdata.id %></p>
        <p><%= productsdata.title %></p>
        <p></p>
    </li>
       </ul>



        
        <script src="" async defer></script>
    </body>
</html>